<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="flex w-full justify-between bg-green-300">
        <div class="flex gap-x-4 bg-green-300 justify-start ml-4">
            <img src="../image/butterfly.png" class="h-12">
        </div>
        <div class="ml-52 flex gap-x-2 bg-green-300 justify-center items-center">
            <a href="#" class="p-3 w-28 text-center duration-300 rounded-2xl hover:bg-green-400">HTML</a>
            <a href="#" class="p-3 w-28 text-center duration-300 rounded-2xl hover:bg-green-400">CSS</a>
            <a href="#" class="p-3 w-28 text-center duration-300 rounded-2xl hover:bg-green-400">JavaScript</a>
            <a href="#" class="p-3 w-28 text-center duration-300 rounded-2xl hover:bg-green-400">React.js</a>
            <a href="#" class="p-3 w-28 text-center duration-300 rounded-2xl hover:bg-green-400">Node.js</a>
        </div>

        <div class="flex justify-end items-center gap-2">
            <span class="py-3 items-end">Search</span>
            <input type="text" placeholder="Search Here..." class="h-8 items-center p-3 border rounded-2xl mr-4">
        </div>

        <footer></footer>
    </div>
</body>

</html>